.course-container {
    padding: 1rem;

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header-outer{
        margin-bottom: 2rem;
    }

    .course-list {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: 20px;
    }

    .course-card {
        padding: 15px;
    }
}

.title {
    font-size: 1.5rem;
}
