<h2 mat-dialog-title>{{ isEdit ? 'Edit Module' : 'Add Module' }}</h2>

<mat-dialog-content>
  <form #moduleForm="ngForm">
    <mat-form-field appearance="fill">
      <mat-label>Module Name</mat-label>
      <input
        matInput
        name="moduleName"
        [(ngModel)]="module.name"
        required
      />
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button
    mat-raised-button
    color="primary"
    (click)="save()"
    [disabled]="!module.name"
  >
    Save
  </button>
</mat-dialog-actions>